    
<div class="login-wrapper">
    <div class="card">
        <div class="card-body">
            <form class="form-signin" (ngSubmit)="onSubmit(signInForm)" #signInForm="ngForm">
                <h1 class="h3 mb-3 fw-normal" style="text-align: center; color: rgba(188, 174, 226, 0.753);">Please sign in</h1>

                <label for="inputEmail" class="sr-only"></label>
                <input type="email" class="form-control" id="inputInput" name="email"
                placeholder="name@example.com" required autofocus ngModel>
               
                <label for="inputPassword"></label>
                <input type="password" class="form-control" id="inputPassword" name="password" 
                placeholder="Password" required ngModel>
               
                <button class="w-100 btn btn-lg btn-primary" type="submit" style="background-color:rgba(153, 120, 231, 0.753);">Sign in</button>

                <div class="alert alert-danger" role="alert" *ngIf="isFormInvalid">
                    fill all fields
                </div>

                <div class="alert alert-danger" role="alert" *ngIf="areCredentialsInvalid">
                    Invalid credentials
                </div>
            </form>
        </div>
    </div>
</div>
